/*BT. Mohlala*/
/*CSIS1664 (2024) - Practical 4*/
/*Filename: earthStyle.css*/

/* Question 1 */
{
    /*1.1*/
	
    /*1.2*/
    /*1.3*/
}

/* General Styles */
body{
     font-family: Arial, Helvetica, sans-serif;
	 color: #333333;/* Dark gray text */
	 background-color: #f0f8ff; /* Alice blue background */
}

/* Question 2 */
{
    /*2.1*/
    /*2.2*/
}

/* Navigation */
nav p{
	 background-color: #47a644;/* light green background */
	 text-align: center;
}

/* Question 3 */
{
    /*3.1*/
    /*3.2*/
    /*3.3*/
}

nav a:link{
	 color: #ffffff; /* white text */
	 text-decoration: none;
	 font-weight: bold;
}

/* Question 4 */
{
    /*4.1*/
}

nav a:hover{
	 color: #ffa500; /* Orange on hover */
}

/* Question 5 */
{
    /*5.1*/
    /*5.2*/
    /*5.3*/
}

/* Main Content */
main h1{
	 font-size: 2rem;
	 color: #228b22; /* Forest green text */
	 text-shadow: 2px 2px 4px gray;
}

/* Question 6 */
{
    /*6.1*/
}

main p{
	 line-height: 1.6;
}

/* Question 7 */
{
    /*7.1*/
}

/* Sections */
section h2{
	 color: #2e8b57; /* Sea green text */
}

/* Question 8 */
{
    /*8.1*/
}
section#section2 blockquote q{
	 color: hsla(120, 61%, 34%, 0.8); /* A semi-transparent green */
}

/* Question 9 */
{
    /*9.1*/
    /*9.2*/
    /*9.3*/
    /*9.4*/
    /*9.5*/
}

/* Footer */
footer{
	 background-color: #014017; /* Dark green background */
	 color: #ffffff; /* White text */
	 text-align: right;
	 font-style: italic;
	 font-size: 0.8rem;
}

/* Question 10 */
{
    /*10.1*/
}

footer a{
	 color:  #3bbf44; /* Bright green text */
}



