/* BT. Mohlala*/
/* CSIS1664 (2024) - Practical 8 */
/* Filename: custom.css   */

/* --- General Styles --- */

/* --- Style classes --- */


/* --- Divisions / Sections --- */

section {
    padding-top: 2rem;
}

#Banner {
    margin-bottom: 2rem;
    background-image: url(../images/leaves.jpg);
    background-size: cover;
    background-position: center;
}

footer {
    padding: 15px;
}
