/*BT. Mohlala*/
/*CSIS1664 (2024) - Practical 5*/
/*Filename: earthStyle.css*/

/* Question 1 */
/* General Styles */
body {
    /*1.1*/
    /*1.2*/
    /*1.3*/
	font-family: Arial, Helvetica, sans-serif;
		color: #333333;/* Dark gray text */
		background-color: #f0f8ff; /* Alice blue background */
		width: 800px;
		margin: 10px auto;
		border: 2px solid #333333;
		box-shadow: 0 10px 20px 10px black;
		background-image: url("../images/leaves.jpg");
}

ul {
    /*4.1*/
	 margin: 10px 0;
}

blockquote {
		border-left: 5px solid #228b22;
		padding-left: 20px;
}

header {
	 padding: 20px;
	 text-align: center;
	 background-color: #014017;
}

/* Question 2 */
/* Navigation */
nav p {
    /*2.1*/
    /*2.2*/
	background-color: #47a644;/* light green background */
	 text-align: center;
	 margin: 0;
	 padding: 10px;
}

/* Question 3 */
nav a {
    /*3.1*/
    /*3.2*/
    /*3.3*/
	 color: #ffffff; /* white text */
	 text-decoration: none;
	 font-weight: bold;
	 padding: 5px 15px;
}

nav a.current {
	 color: #ffa500;
	 background-color: #ffffff;
	 border-radius: 5px;
}

/* Question 4 */
nav a:hover {
	 color: #ffa500; /* Orange on hover */
}

/* Main Content */
main {
		padding: 20px;
		background-color: #d3cebb;
}

/* Question 5 */
main h1 {
    /*5.1*/
    /*5.2*/
    /*5.3*/
	font-size: 2rem;
	 color: #228b22; /* Forest green text */
	 text-shadow: 2px 2px 4px gray;
	 margin-bottom: 10px;
}

/* Question 6 */
main p {
    /*6.1*/
	line-height: 1.6;
}

/* Question 7 */
/* Sections */
section h2 {
    /*7.1*/
	 color: #2e8b57; /* Sea green text */
	 margin-top: 20px;
	 border-bottom: 2px solid #2e8b57;
	 padding-bottom: 5px;
}

/* Question 8 */
section#section2 blockquote q {
    /*8.1*/
	 color: hsla(120, 61%, 34%, 0.8); /* A semi-transparent green */
}

/* Question 9 */
/* Footer */
footer {
    /*9.1*/
    /*9.2*/
    /*9.3*/
    /*9.4*/
    /*9.5*/
	 background-color: #014017; /* Dark green background */
	 color: #ffffff; /* White text */
	 text-align: right;
	 font-style: italic;
	 font-size: 0.8rem;
	 padding: 15px;
}

footer hr {
	 color: #3bbf44;
}

/* Question 10 */
footer a {
    /*10.1*/
	color:  #3bbf44; /* Bright green text */
}




